<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Trade</title>

    <!-- Fix this line: Should be adding webpage image from /resource folder -->
    <link rel="icon" type="image/png" href="SpaceTradeImage.png"/> 

    <!-- Fix this line: Should be linking style sheet to index.ejs  -->
    <link href="styles.css" rel="stylesheet">
</head>
<body>
    <h1>Star Trade</h1>

    <div id="nav">
        <ul>
            <li> <a href="/">Home</a></li>
            <li> <a href="/stock_list">Stocks</a></li>
            <li> <a href="/cryptocurrency">Cryptocurrency</a></li>
        </ul>
    </div>

    <div id="container">
        <p><%= symbol%>:</p><br/>
        <p>Price:</p><br/>
        <p><%= values[0].open%></p>
    </div>
</body>
</html>