<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Trade</title>

    <!-- Fix this line: Should be adding webpage image from /resource folder -->
    <link rel="icon" type="image/png" href="SpaceTradeImage.png"/> 

    <!-- Fix this line: Should be linking style sheet to index.ejs  -->
    <link href="styles.css" rel="stylesheet">


</head>
<body>
    <h1>Star Trade</h1>


    <div id="nav">
        <ul>
            <li> <a href="/">Home</a></li>
            <li> <a href="/stock_list">Stocks</a></li> 
            <li> <a href="/cryptocurrency">Cryptocurrency</a></li>
        </ul>
    </div>

    <div id="container">
        <div id="main">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vulputate purus placerat lorem 
                viverra ultrices. Nulla vulputate leo magna, at pellentesque risus faucibus sit amet. Quisque 
                sed tincidunt purus, nec dignissim ipsum. Praesent malesuada libero neque, quis dignissim lorem 
                hendrerit quis. Phasellus sed tellus id orci aliquet mattis. Pellentesque habitant morbi tristique 
                senectus et netus et malesuada fames ac turpis egestas. Suspendisse consectetur felis lorem, at 
                cursus nulla mollis et. <br><br>
                
                Quisque a viverra sem. Suspendisse cursus cursus nibh, eu sollicitudin 
                risus pharetra nec. Nam eget eros vulputate, imperdiet ex nec, eleifend mauris. In tincidunt, 
                odio vel porta vehicula, ligula nibh congue nibh, eu viverra dui nibh sed urna. Vestibulum egestas, 
                nulla ac tempus mollis, lorem dui auctor metus, et pellentesque dolor justo placerat massa. Nulla ac 
                ullamcorper odio. Maecenas tincidunt felis quis diam gravida, eget imperdiet est aliquet. Quisque quis 
                est sed erat dignissim dictum. <br><br>

                Aliquam ac nulla id metus sollicitudin consectetur nec a erat. 
                Pellentesque sed viverra dolor, et viverra nunc. Integer egestas consectetur hendrerit. Praesent 
                aliquet a tortor a aliquet. Integer laoreet justo in ipsum iaculis efficitur. Curabitur at velit et 
                risus efficitur porta. Vestibulum porta venenatis ultrices. Etiam vitae mattis erat. Nam tempor pulvinar 
                sem quis scelerisque. Nam quis rhoncus tortor. In sit amet mi mi. Duis iaculis elit ut ultricies fermentum. 
                Mauris bibendum enim nunc, vel dapibus ligula viverra ut. Ut leo justo, maximus sed nibh eu, scelerisque 
                tincidunt mauris. <br>
                </p>
        </div>
        <div id="aside">
            <!-- Form: POST -->
            <h2 >Login</h2>
            <form id="login" action="/" method="post">
                <!-- Name Text Box -->
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="Bob">
            <br>
            <br>
                <!-- Email Input Box -->
                <label for="email">Password:</label>
                <input type="email" id="password" name="password" placeholder="xxxxxxxxx">
            <br>
            <br>
            <input id="SignIn" type="submit" value="Sign In">
            <br>
            </form>

            <h2 >Sign Up</h2>
            <form id="sign_up" action="/sign_up" method="post">
            <input id="sign_up_btn" type="submit" value="Sign Up">
            <br>
            </form>

        </div>
    </div>
</body>
</html>