<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Trade</title>
</head>
<body>
    <h1>Star Trade</h1>

        <% for(var i = 0; i < 10; i++){ %>
            <p>
                <p><%= data[i].symbol%>  </p>
                <p><%= data[i].name%>  </p>
                <button value="<%= data[i].symbol %>"><%= data[i].symbol %></button>
            </p>
        <% }%>


</body>
</html>