<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Trade</title>

    <!-- Fix this line: Should be adding webpage image from /resource folder -->
    <link rel="icon" type="image/png" href="SpaceTradeImage.png"/> 

    <!-- Fix this line: Should be linking style sheet to index.ejs  -->
    <link href="styles.css" rel="stylesheet">


</head>
<body>
    <h1>Star Trade</h1>

    <div id="nav">
        <ul>
            <li> <a href="/">Home</a></li>
            <li> <a href="/stock_list">Stocks</a></li>
            <li> <a href="/cryptocurrency">Cryptocurrency</a></li>
        </ul>
    </div>

    <div id="container">
        <div id="main">
            <h2>Stock Lists</h2>
            <table style="width:100%">
                <tr>
                  <th>Ticker Symbol</th>
                  <th>Company</th>
                  <th>Price</th>
                </tr>
                <tr style="text-align: center;">
                  <td>APPL</td>
                  <td><input type="button" value="Apple"></td>
                  <td>Apple</td>
                  <td>176.66</td>
                </tr>
                <tr style="text-align: center;">
                  <td>QQQ</td>
                  <td>Invesco QQQ</td>
                  <td>368.32</td>
                </tr>
              </table>
        </div>
        <div id="aside">
            <!-- Image? -->

        </div>
    </div>
</body>
</html>